<!doctype html>
<html>
<head>
<title>Parseltongue</title>
{% block css %}
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/styles.css">
{% endblock %}
</head>
<body>
<div id="page">
<h1>Parseltongue</h1>
{% block content %}
<ul id="latest">
{% for post in latest %}
    <li>
        <time>{{ "%s-%s-%s" % (post.created.year, post.created.month, post.created.day) }}</time>
        <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
{% endfor %}
</li>
{% endblock %}
</div>
</body>
</html>
