<!doctype html>
<html>
<head>
<title>Parseltongue</title>
{% block css %}
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/styles.css">
{% endblock %}
</head>
<body>
<div id="page">
<h1><a href="/">Parseltongue</a></h1>
{% block content %}
<h2>Latest posts</h2>
<ul id="latest">
{% for post in latest %}
    <li>
        <time>{{ "%s-%s-%s" % (post.posted.year, post.posted.month, post.posted.day) }}</time>
        <a href="{{ post.url_path }}">{{ post.title }}</a>
    </li>
{% endfor %}
</ul>
<h2>Pages</h2>
<ul id="pages">
{% for post in pages %}
    <li>
        <a href="{{ post.url_path }}">{{ post.title }}</a>
    </li>
{% endfor %}
</ul>
{% endblock %}
</div>
</body>
</html>
